# Data Preprocessing

## Library Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

## SP500_Prices.csv

In [2]:
#Data Frame Descibe
path = '../rawdata/SP500_Prices.csv'
df = pd.read_csv(path)
print("Head:")
print(df.head(), "\n")
print("Tail:")
print(df.tail(), "\n")
print("Description:")
print(df.describe())

Head:
         Date         Open         High          Low        Close  \
0  2013-02-08  1509.390015  1518.310059  1509.390015  1517.930054
1  2013-02-11  1517.930054  1518.310059  1513.609985  1517.010010
2  2013-02-12  1517.010010  1522.290039  1515.609985  1519.430054
3  2013-02-13  1519.430054  1524.689941  1515.930054  1520.329956
4  2013-02-14  1520.329956  1523.140015  1514.020020  1521.380005

     Adj Close      Volume
0  1517.930054  2986150000
1  1517.010010  2684100000
2  1519.430054  3414370000
3  1520.329956  3385880000
4  1521.380005  3759740000

Tail:
            Date         Open         High          Low        Close  \
1253  2018-01-31  2832.409912  2839.260010  2813.040039  2823.810059
1254  2018-02-01  2816.449951  2835.959961  2812.699951  2821.979980
1255  2018-02-02  2808.919922  2808.919922  2759.969971  2762.129883
1256  2018-02-05  2741.060059  2763.389893  2638.169922  2648.939941
1257  2018-02-06  2614.780029  2701.040039  2593.070068  2695.139893

        Adj Close      Volume
1253  2823.810059  4261280000
1254  2821.979980  3938450000
1255  2762.129883  4301130000
1256  2648.939941  5283460000
1257  2695.139893  5891660000

Description:
              Open         High          Low        Close    Adj Close  \
count  1258.000000  1258.000000  1258.000000  1258.000000  1258.000000
mean   2061.217097  2069.629516  2052.293117  2061.834316  2061.834316
std     283.515410   282.996117   283.921297   283.453568   283.453568
min    1487.849976  1498.989990  1485.010010  1487.849976  1487.849976
25%    1876.770019  1884.882507  1867.050018  1877.102478  1877.102478
50%    2059.984985  2070.615112  2045.835022  2060.065064  2060.065064
75%    2182.630005  2186.497558  2177.279968  2182.534913  2182.534913
max    2867.229980  2872.870117  2851.479980  2872.870117  2872.870117

             Volume
count  1.258000e+03
mean   3.542167e+09
std    6.784577e+08
min    1.307630e+09
25%    3.141562e+09
50%    3.453535e+09
75%    3.827055e+09
max    7.597450e+09

In [3]:
#Check for NaN values
containsNaN = False

for line in df:
    for attribute in line:
        if attribute == np.NaN:
            containsNaN = True
            break
    if(containsNaN):
        break

        
print("Contains NaN values: ", containsNaN)

Contains NaN values:  False

## SP500_individual.csv

In [4]:
#Data Frame Descibe
path = '../rawdata/SP500_individual.csv'
df = pd.read_csv(path)
print("Head:")
print(df.head(), "\n")
print("Tail:")
print(df.tail(), "\n")
print("Description:")
print(df.describe())

Head:
  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

Tail:
    Symbol                    Name                  Sector
500    XYL              Xylem Inc.             Industrials
501    YUM         Yum! Brands Inc  Consumer Discretionary
502    ZBH  Zimmer Biomet Holdings             Health Care
503   ZION           Zions Bancorp              Financials
504    ZTS                  Zoetis             Health Care

Description:
       Symbol                    Name                  Sector
count     505                     505                     505
unique    505                     505                      11
top       CMI  Varian Medical Systems  Consumer Discretionary
freq        1                       1                      82

In [5]:
#Check for Empty String values
containsEmpty = False

for line in df:
    for attribute in line:
        if attribute == '':
            containsEmpty = True
            break
    if(containsEmpty):
        break

        
print("Contains NaN values: ", containsEmpty)

Contains NaN values:  False

## all_stocks_5yr.csv

In [6]:
#Data Frame Descibe
path = '../rawdata/all_stocks_5yr.csv'
df = pd.read_csv(path)
print("Head:")
print(df.head(), "\n")
print("Tail:")
print(df.tail(), "\n")
print("Description:")
print(df.describe())

Head:
         date   open   high    low  close    volume Name
0  2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

Tail:
              date   open   high    low  close   volume Name
619035  2018-02-01  76.84  78.27  76.69  77.82  2982259  ZTS
619036  2018-02-02  77.53  78.12  76.73  76.78  2595187  ZTS
619037  2018-02-05  76.64  76.92  73.18  73.83  2962031  ZTS
619038  2018-02-06  72.74  74.56  72.13  73.27  4924323  ZTS
619039  2018-02-07  72.70  75.00  72.69  73.86  4534912  ZTS

Description:
                open           high            low          close  \
count  619029.000000  619032.000000  619032.000000  619040.000000
mean       83.023334      83.778311      82.256096      83.043763
std        97.378769      98.207519      96.507421      97.389748
min         1.620000       1.690000       1.500000       1.590000
25%        40.220000      40.620000      39.830000      40.245000
50%        62.590000      63.150000      62.020000      62.620000
75%        94.370000      95.180000      93.540000      94.410000
max      2044.000000    2067.990000    2035.110000    2049.000000

             volume
count  6.190400e+05
mean   4.321823e+06
std    8.693610e+06
min    0.000000e+00
25%    1.070320e+06
50%    2.082094e+06
75%    4.284509e+06
max    6.182376e+08

In [7]:
#Check for NaN values
containsNaN = False

for line in df[['date', 'open', 'high', 'low', 'close', 'volume']]:
    for attribute in line:
        if attribute == np.NaN:
            containsNaN = True
            break
    if(containsNaN):
        break

        
print("Contains NaN values: ", containsNaN)

Contains NaN values:  False

In [8]:
#Check for Empty String values
containsEmpty = False

for line in df['Name']:
    for attribute in line:
        if attribute == '':
            containsEmpty = True
            break
    if(containsEmpty):
        break

        
print("Contains NaN values: ", containsEmpty)

Contains NaN values:  False

Note: Data was fortunately all clean from the beginning therefore no changes need to be made. Look at DAP2-ExploratoryDataAnalysis.ipynb for graphs and plots.